/*-----agar link warna berubah ---------*/
a.button_zippyshare:link { color:#FFF; text-decoration:none; font-weight:normal; }
a.button_zippyshare:visited { color: #FFF; text-decoration:none; font-weight:normal; }
a.button_zippyshare:hover { color: #FFF; text-decoration:underline; font-weight:normal; }
a.button_zippyshare:active { color: #FFF; text-decoration:none; font-weight:normal; }

/*--------------end ziphhyshare------------*/

a.button_datafilehost:link { color:#FFF; text-decoration:none; font-weight:normal; }
a.button_datafilehost:visited { color: #FFF; text-decoration:none; font-weight:normal; }
a.button_datafilehost:hover { color: #FFF; text-decoration:underline; font-weight:normal; }
a.button_datafilehost:active { color: #FFF; text-decoration:none; font-weight:normal; }

/*-------------end datafilehost------------*/

/*--------------end ziphhyshare------------*/

a.button_filecloud:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_filecloud:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_filecloud:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_filecloud:active { color: #111111; text-decoration:none; font-weight:normal; }

/*-------------end filecloud------------*/

a.button_indishare:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_indishare:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_indishare:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_indishare:active { color: #111111; text-decoration:none; font-weight:normal; }

/*----------------end indihsare--------*/





