/*-----agar link warna berubah ---------*/
a.button_zippyshare:link { color:#FFF; text-decoration:none; font-weight:normal; }
a.button_zippyshare:visited { color: #FFF; text-decoration:none; font-weight:normal; }
a.button_zippyshare:hover { color: #FFF; text-decoration:underline; font-weight:normal; }
a.button_zippyshare:active { color: #FFF; text-decoration:none; font-weight:normal; }

/*--------------ednd ziphhyshare------------*/

