/*-----agar link warna berubah ---------*/
a.button_zippyshare:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_zippyshare:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_zippyshare:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_zippyshare:active { color: #111111; text-decoration:none; font-weight:normal; }

/*--------------end ziphhyshare------------*/

a.button_datafilehost:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_datafilehost:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_datafilehost:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_datafilehost:active { color: #111111; text-decoration:none; font-weight:normal; }

/*-------------end datafilehost------------*/

/*--------------end ziphhyshare------------*/

a.button_filecloud:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_filecloud:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_filecloud:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_filecloud:active { color: #111111; text-decoration:none; font-weight:normal; }

/*-------------end filecloud------------*/

a.button_indishare:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_indishare:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_indishare:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_indishare:active { color: #111111; text-decoration:none; font-weight:normal; }

/*----------------end indihsare--------*/


a.button_openload:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_openload:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_openload:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_openload:active { color: #111111; text-decoration:none; font-weight:normal; }

/*----------------end openload--------*/




a.button_mega:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_mega:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_mega:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_mega:active { color: #111111; text-decoration:none; font-weight:normal; }

/*----------------end mega--------*/


a.button_googledrive:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_googledrive:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_googledrive:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_googledrive:active { color: #111111; text-decoration:none; font-weight:normal; }

/*----------------end googledrive--------*/

a.button_depositfiles:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_depositfiles:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_depositfiles:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_depositfiles:active { color: #111111; text-decoration:none; font-weight:normal; }

/*----------------end depositfiles--------*/


a.button_rapidgator:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_rapidgator:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_rapidgator:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_rapidgator:active { color: #111111; text-decoration:none; font-weight:normal; }

/*----------------end rapidgator--------*/

a.button_gettsharing:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_gettsharing:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_gettsharing:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_gettsharing:active { color: #111111; text-decoration:none; font-weight:normal; }

/*----------------end getsahring--------*/


a.button_solidfiles:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_solidfiles:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_solidfiles:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_solidfiles:active { color: #111111; text-decoration:none; font-weight:normal; }

/*----------------end solidfiles--------*/


a.button_1fichier:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_1fichier:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_1fichier:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_1fichier:active { color: #111111; text-decoration:none; font-weight:normal; }

/*----------------end 1fichier--------*/



a.button_tusfiles:link { color:#111111; text-decoration:none; font-weight:normal; }
a.button_tusfiles:visited { color: #111111; text-decoration:none; font-weight:normal; }
a.button_tusfiles:hover { color: #111111; text-decoration:underline; font-weight:normal; }
a.button_tusfiles:active { color: #111111; text-decoration:none; font-weight:normal; }

/*----------------end tusfiles--------*/
